<div class="container">
    <div class="content">

        <mat-card class="top10M centeralign">
            <mat-icon style="font-size:xx-large;" color="primary">
                newspaper
            </mat-icon>
            <h1>
                {{SourceName}}
            </h1>
        </mat-card>
        <mat-grid-list cols="2" rowHeight="1:1">

            <mat-grid-tile *ngFor="let x of Articles$ | async ">

                <NewsCard-C [_Article]="x"></NewsCard-C>

            </mat-grid-tile>

        </mat-grid-list>
    </div>

</div>