<section class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1 class="text-center">Contacts Info</h1>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="fw-bold">Contacts Address:</span>xxxxxxxxxxxxx</li>
                    <li class="list-group-item"><span class="fw-bold">Phone:</span>23232323</li>
                    <li class="list-group-item"><span class="fw-bold">Email:</span>eeeex</li>
                </ul>
            </div>
            <div class="col-md">
                <div id="map">
                    
                </div>
            </div>
        </div>
    </div>
</section>