<section class="text-center text-sm-start text-light bg-dark">

<div class="container">
    
        <div class="d-sm-flex justify-content-between align-items-center p-3">
            <div>
                <h1>Welcome To Be <span class="text-warning">Developer</span></h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Quod eius reiciendis iure repudiandae nulla
                    impedit nihil ducimus quidem iusto cumque molestiae quaerat
                    id pariatur fugiat accusamus magnam, optio tempora eos.
                </p>
                <button class="btn btn-primary">Start The Environment</button>

            </div>

            <img src="../../../assets/images/showcase.svg" class="img-fluid w-50 d-none d-sm-block">

        </div>
</div>
</section>