<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{Article.title}}</mat-card-title>
    </mat-card-header>

    <img mat-card-image height="250px"
    src={{Article.urlToImage}}>

    <mat-card-content>
      <p>
        {{Article.content}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>